<section><br>
  <h1 class="textUno text-center">Aletilla</h1>
  <h5 class="textDos text-center">ALETILLA DE MANGAS</h5>
  <br>
  <div class="row text-center mt45">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cA/Camisa_AletillaManga_SinBoton.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN BOTÓN</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cA/Camisa_AletillaManga_ConBoton.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">CON BOTÓN</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>
  <h5 class="textDos text-center">ALETILLA DE CUELLO</h5> <br>
  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cA/Camisa_Aletilla_SinAletilla.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN ALETILLA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cA/Camisa_Aletilla_Oculta.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">OCULTA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cA/Camisa_Aletilla_Sobrepuesta.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SOBREPUESTA</p>
    </div>
  </div>
</section>