<section><br>
  <h1 class="textUno text-center">Bolsas</h1>

  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cB/Camisa_Bolsa_Tipo_Cuadrada.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">CUADRADA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cB/Camisa_Bolsa_Tipo_Pico.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">PICO</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cB/Camisa_Bolsa_Tipo_Redonda.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">REDONDA</p>
    </div>
  </div>

</section>