<section><br>
  <h1 class="textUno text-center">Espalda</h1>
  <h5 class="textDos text-center mt45">PINZA</h5>
  <br>
  <div class="row text-center">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cE/Camisa_Espalda_Pinza_ConPinza.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">CON PINZA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cE/Camisa_Espalda_Pinza_SinPinza.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN PINZA</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>
  <h5 class="textDos text-center">PLIEGUE</h5> <br>
  <div class="row text-center mt45">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cE/Camisa_Espalda_Bata_SinPliegues.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN PLIEGES</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cE/Camisa_Espalda_Bata_Pliegues_No2.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">2 PLIEGES</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" data-toggle="modal">
    </div>
  </div>
</section>