<section><br>
    <h1 class="textUno text-center">Modelo</h1>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Etiqueta_Recto_Boton_No3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTO 3 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Recto_Boton_No5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTO 5 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Pico_Boton_No5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">PICO 5 BOTONES</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Pico_Solapa_Shall_Boton_No4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">PICO 4 BOTONES SHALL</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/chM/Chaleco_Tipo_Frack_Recto_Boton_No3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">FRANK RECTO 3 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/chM/Chaleco_Tipo_Frack_Cruzado_Boton_No6.svg
          
          " class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">FRANK CRUZADO 6 BOTONES</p>
      </div>
    </div>
    <div class="row text-center mt45">
           
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Etiqueta_Cruzado_Boton_No6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CRUZADO 6 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/chM/Chaleco_Tipo_Recto_Cruzado_Boton_No12.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CRUZADO 12 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button class="btn-zoom">
              <img src="images/chM/Chaleco_Tipo_Recto_Solapa_Pico_Cruzado_Boton_No8.svg" class="img-responsive imgPrenda" alt="">
            </button>
            <p class="mt45">CRUZADO 8 BOTONES PICO</p>
          </div>
    </div>
  
  </section>