<section><br>
    <h1 class="textUno text-center">Tela</h1>
    <h5 class="textDos text-center">ELIGE LA TELA GENERAL PARA TU CAMISA</h5>
    <p class="text-center">Si no encuentras la tela ingresa el código</p>
    <div class="form-group center-block" style="width: 20%">
      <label for=""></label>
      <input type="" class="form-control" id="" placeholder="CÓDIGO">
    </div>
    <p class="text-center">Puedes usar los campos para filtrar por fabricante, color y/o patrón:</p>
    <div class="row text-center">
      <div class="col-lg-4">
        <select class="browser-default custom-select">
          <option selected>Cualquier fabricante</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-lg-4">
        <select class="browser-default custom-select">
          <option selected>Cualquier color</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-lg-4">
        <select class="browser-default custom-select">
          <option selected>Cualquier patrón</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/1.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">223-057-31</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/2.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">250013</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/3.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">879985</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/4.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">A239-021-01</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/5.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">T5-620</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/6.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">T6-001</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/7.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">T6-732</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/8.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">T7-023</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom1">
          <img src="images/cT/9.png" class="imgPrenda1" alt="">
        </button>
        <p class="mt45">T7-030</p>
      </div>
    </div>
   
  
  </section>