<section><br>
  <h1 class="textUno text-center">Tela</h1>
  <h5 class="textDos text-center">ELIGE LA TELA GENERAL PARA TU CAMISA</h5>
  <p class="text-center">Si no encuentras la tela ingresa el código</p>
  <div class="form-group center-block" style="width: 30%">
    <label for=""></label>
    <input type="" class="form-control" id="" placeholder="CÓDIGO">
  </div>
  <p class="text-center">Puedes usar los campos para filtrar por fabricante, color y/o patrón:</p>
  <div class="row text-center">
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier fabricante</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier color</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier patrón</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/1.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TUO SUPRALUX 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/2.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TUO SUPRALUX 140’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/3.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TUO SUPRALUX 200’S</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/4.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">GETZNER SUPER 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/5.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">GETZNER ALGODÓN LINO</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/6.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TESSITURA MONTI SUPER 140’S</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/7.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TESSITURA MONTI SUPER 180’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/8.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">TESSITURA MONTI SUPER 200’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/9.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">EMS POLIÉSTER-ALGODÓN</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/10.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">EMS SUPER 100’S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/11.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DMD SÚPER 100’S</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    </div>
  </div>

</section>