<section><br>
    <h1 class="textUno text-center">Bordados</h1>
 
    <h5 class="textDos text-center">FRANJA DERECHA</h5>
    <div class="text-center">
        <img src="images/gBo/Guayabera_Bordado_Franja1_Vista.svg" class="imgTitle center_block" alt="">
    </div>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 1</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 2</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 3</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 4</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 5</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 6</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_7.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 7</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_8.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 8</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_9.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 9</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_10.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 10</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_11.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 11</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja1_12.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 12</p>
      </div>
    </div>
    <h5 class="textDos text-center">FRANJA CENTRAL</h5>
    <div class="text-center">
        <img src="images/gBo/Guayabera_Bordado_Franja2_Vista.svg" class="imgTitle center_block" alt="">
    </div>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 1</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 2</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 3</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 4</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 5</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 6</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_7.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 7</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_8.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 8</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_9.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 9</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_10.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 10</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_11.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 11</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja2_12.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 12</p>
      </div>
    </div>
    <h5 class="textDos text-center">FRANJA IZQUIERDA</h5>
    <div class="text-center">
        <img src="images/gBo/Guayabera_Bordado_Franja3_Vista.svg" class="imgTitle center_block" alt="">
    </div>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 1</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 2</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 3</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 4</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 5</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 6</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_7.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 7</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_8.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 8</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_9.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 9</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_10.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 10</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_11.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 11</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/gBo/Guayabera_Bordado_Franja3_12.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TIPO 12</p>
      </div>
    </div>
    <h5 class="textDos text-center">HILO</h5>
  <br>
  <div class="row text-center mt45">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1624_AmarilloCanario.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">AMARILLO CANARIO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1747_Rojo.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">ROJO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1775_AzulFrancia.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">AZUL FRANCIA</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1784_Vino.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">VINO</p>
    </div>
  </div>
  <div class="row text-center mt45">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1800_Negro.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">NEGRO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1801_Blanco.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">BLANCO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1811_GrisPerla.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">GRIS PERLA</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1841_GrisOxford.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">GRIS OXFORD</p>
    </div>
  </div>
  <div class="row text-center mt45">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1851_VerdeBandera.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">VERDE BANDERA</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1874_AzulCielo.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">AZUL CIELO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1922_Morado.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">MORADO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1938_Beige.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">BEIGE</p>
    </div>
  </div>
  <div class="row text-center mt45">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1949_Hueso.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">HUESO</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1967_AzulRoyal.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">AZUL ROYAL</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button class="btn-zoom">
        <img src="images/cI/Camisa_Iniciales_Color-1976_AzulMedianoche.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">AZUL MEDIA NOCHE</p>
    </div>
  </div>
  </section>