<section><br>
    <h1 class="textUno text-center">Cuello</h1>
  
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Bali.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BALI</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Bangkok.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BANGKOK</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Berlin.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BERLIN</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Cabos.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CABOS</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Denmark.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">DENMARK</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Ibiza.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">IBIZA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Liion.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">LIION</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_London.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">LONDON</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Madrid.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MADRID</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Nara.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">NARA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_NY.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">NY</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Paris.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">PARIS</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Rome.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">ROME</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Shangai.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">SHANGAI</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Stokolm.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">STOKOLM</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cC/Camisa_Cuello_Tokyo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">TOKYO</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
      </div>
    </div>
  
  </section>
  