<section><br>
    <h1 class="textUno text-center">Iniciales</h1>
    <h5 class="textDos text-center">SI QUIERES AGREGAR INICIALES, SELECCIONA LAS SIGUIENTES OPCIONES. SI NO QUIERES
      INICIALES DEJA EN BLANCO</h5>
  
    <div class="form-group center-block" style="width: 20%">
      <label for=""></label>
      <input type="" class="form-control" id="" placeholder="INICIALES">
    </div>
    <h5 class="textDos text-center">TIPO DE LETRA</h5>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Tipo_Balloon.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BALOON</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Tipo_Block.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BLOCK</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Tipo_Bosano.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BOSANO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Tipo_Radial.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RADIAL</p>
      </div>
    </div>
    <h5 class="textDos text-center">HILO</h5>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1624_AmarilloCanario.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">AMARILLO CANARIO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1747_Rojo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">ROJO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1775_AzulFrancia.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">AZUL FRANCIA</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1784_Vino.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">VINO</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1800_Negro.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">NEGRO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1801_Blanco.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BLANCO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1811_GrisPerla.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">GRIS PERLA</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1841_GrisOxford.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">GRIS OXFORD</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1851_VerdeBandera.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">VERDE BANDERA</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1874_AzulCielo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">AZUL CIELO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1922_Morado.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MORADO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1938_Beige.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">BEIGE</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1949_Hueso.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HUESO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1967_AzulRoyal.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">AZUL ROYAL</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cI/Camisa_Iniciales_Color-1976_AzulMedianoche.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">AZUL MEDIA NOCHE</p>
      </div>
    </div>
  </section>