<section><br>
    <h1 class="textUno text-center">Puños</h1>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="CheckBox">
          <input id="escuadra" type="checkbox">
          <label for="escuadra">ESCUADRA </label>
          <span></span>
        </div>
  
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox text-center">
          <input id="ovalado" type="checkbox">
          <label for="ovalado">OVALADO </label>
          <span></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox pull-right">
          <input id="recta" type="checkbox">
          <label for="recta">RECTA </label>
          <span></span>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Escuadra_Boton_No1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">1 BOTÓN</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Escuadra_Boton_No2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Escuadra_Mancuernilla.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MANCUERNILLA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Recto_Boton_No1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">1 BOTÓN</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/cP/Camisa_Punos_Recto_Boton_No2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/cP/Camisa_Punos_Recto_Mancuernilla (1).svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MANCUERNILLA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Recto_Mancuernilla.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">1 BOTÓN</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Redondeado_Boton_No1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/cP/Camisa_Punos_Redondeado_Boton_No2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MANCUERNILLA</p>
      </div>
    </div>
  
  </section>