<section><br>
    <h1 class="textUno text-center">Bolsas</h1>
    <h5 class="textDos text-center">LATERALES</h5>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pB/Pantalon_Bolsas_Laterales_Rectas.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTAS</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pB/Pantalon_Bolsas_Laterales_Inclinadas.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">INCLINADAS</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        </div>
    </div>
    <h5 class="textDos text-center">TRASERAS</h5>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/pB/Pantalon_Bolsas_Traseras_Cartera_Boton.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CARTERA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button class="btn-zoom zoom">
              <img src="images/pB/Pantalon_Bolsas_Traseras_Doble_SinBoton.svg" class="img-responsive imgPrenda" alt="">
            </button>
            <p class="mt45">DOBLE SIN BOTÓN</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <button class="btn-zoom zoom">
                  <img src="images/pB/Pantalon_Bolsas_Traseras_Doble_Boton.svg" class="img-responsive imgPrenda" alt="">
                </button>
                <p class="mt45">DOBLE CON BOTÓN</p>
              </div>
    </div>
    <div class="row text-center mt100">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/pB/Pantalon_Bolsas_Traseras_Izquierda_Boton.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">IZQUIERDA SIN BOTÓN</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/pB/Pantalon_Bolsas_Traseras_Derecha_Boton.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">DERECHA CON BOTÓN</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              </div>
          </div>
  
  </section>
