<section><br>
    <h1 class="textUno text-center">Pretina</h1>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pP/Pantalon_Pretina_ConPase.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CON PASE</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pP/Pantalon_Pretina_SinPase.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">SIN PASE</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pP/Pantalon_Pretina_SinTrabas.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">SIN TRABAS</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/pP/Pantalon_Pretina_ConPretina.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CON PRETINA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      </div>
    </div>
   
  
  </section>