<section><br>
    <h1 class="textUno text-center">Terminado</h1>
    <br>
    <div class="row text-center mt100">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       
                </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pTer/Pantalon_Terminado_Valenciana.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">VALENCIANA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pTer/Pantalon_Terminado_Dobladillo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">DOBLADILLO</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
       
      </div>
    </div>
  </section>