<section><br>
    <h1 class="textUno text-center">Tiro</h1>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pTi/Pantalon_Tiro_Corto.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CORTO</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pTi/Pantalon_Tiro_Regular.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">REGULAR </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/pTi/Pantalon_Tiro_Largo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">LARGO</p>
      </div>
    </div>
  </section>