<section><br>
    <h1 class="textUno text-center">BOLSAS</h1>
    <h5 class="textDos text-center">NÚMERO DE BOLSAS</h5>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="CheckBox">
          <input id="escuadra" type="checkbox">
          <label for="escuadra">SIN BOLSAS </label>
          <span></span>
        </div>
  
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox text-center">
          <input id="ovalado" type="checkbox">
          <label for="ovalado">2 BOLSAS </label>
          <span></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox pull-right">
          <input id="recta" type="checkbox">
          <label for="recta">3 BOLSAS </label>
          <span></span>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sB/Saco_Bolsas_1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">SIN BOLSAS</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sB/Saco_Bolsas_2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOLSAS TIPO PARCHE</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sB/Saco_Bolsas_3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOLSAS CON CARTERA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sB/Saco_Bolsas_5.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOLSAS SIN CARTERA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sB/Saco_Bolsas_6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOLSAS SIN CARTERA INCLINADAS</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sB/Saco_Bolsas_7.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">3 BOLSAS SIN CARTERA</p>
      </div>
    </div>
    <div class="row text-center mt45">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      
                </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sB/Saco_Bolsas_8.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">3 BOLSAS SIN CARTERA INCLINADAS</p>
      </div>
   
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      
      </div>
    </div>
  
  </section>