<section><br>
  <h1 class="textUno text-center">Costuras</h1>
  <h5 class="textDos text-center">BOLSAS</h5>
  <div class="row text-center mt100">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Bolsas_SinCostura.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN COSTURA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Bolsas_Sencilla.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SENCILLA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Bolsas_Doble.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">DOBLE</p>
    </div>
    <h5 class="textDos text-center">HOMBROS</h5>
  </div>
  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Hombro_SinCostura.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN COSTURA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/sC/Saco_Costura_Hombro_Sencilla.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SENCILLA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom zoom">
        <img src="images/sC/Saco_Costura_Hombro_Doble.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">DOBLE</p>
    </div>
    <h5 class="textDos text-center">SOLAPA</h5>
  </div>
  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Solapa_SinCosturas.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SIN COSTURA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Solapa_Sencilla.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">SENCILLA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom">
        <img src="images/sC/Saco_Costura_Solapa_Doble.svg" class="img-responsive imgPrenda" alt="">
      </button>
      <p class="mt45">DOBLE</p>
    </div>
  </div>

</section>