<section><br>
    <h1 class="textUno text-center">Forros</h1>
  
    <div class="row text-center mt45">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sF/Saco_Forro_Medio.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">MEDIO</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sF/Saco_Forro_Completo.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">COMPLETO</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        
        </div>
    </div>
  
  </section>