<section><br>
    <h1 class="textUno text-center">Modelo</h1>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Recto_Boton_No1.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTO CON 1 BOTÓN</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Recto_Boton_No2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTO CON 2 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Recto_Boton_No3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">RECTO CON 3 BOTONES</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Cruzado_Boton_No4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CRUZADO</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sM/Saco_Modelo_Cruzado_Boton_No6.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">CRUZADO 6 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sM/Saco_Modelo_Esmoquin.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">ESMOQUIN</p>
      </div>
    </div>
    <div class="row text-center mt45">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      
                </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Frack.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">FRACK</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sM/Saco_Modelo_Jacque.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">JACQUE</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      
      </div>
    </div>
  
  </section>