<section><br>
    <h1 class="textUno text-center">Puños</h1>
    <h5 class="textDos text-center">TIPO</h5>
    <br>
    <div class="row text-center mt45">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sP/Saco_Punos_Tipo_Funcional.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">FUNCIONAL</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sP/Saco_Punos_Tipo_NoFuncional.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">NO FUNCIONAL</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      </div>
    </div>
    <h5 class="textDos text-center">NÚMERO DE BOTONES</h5> <br>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sP/Saco_Punos_Botones_No2.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">2 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sP/Saco_Punos_Botones_No3.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">3 BOTONES</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sP/Saco_Punos_Botones_No4.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">4 BOTONES</p>
      </div>
    </div>
  </section>