<section><br>
    <h1 class="textUno text-center">Solapa</h1>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="CheckBox">
          <input id="escuadra" type="checkbox">
          <label for="escuadra">HERRADURA </label>
          <span></span>
        </div>
  
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox text-center">
          <input id="ovalado" type="checkbox">
          <label for="ovalado">PICO </label>
          <span></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="CheckBox pull-right">
          <input id="recta" type="checkbox">
          <label for="recta">ESCUADRA </label>
          <span></span>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center mt100">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Angosta-Corta.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA ANGOSTA CORTA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Angosta-Media.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA ANGOSTA MEDIA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Angosta-Larga.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA ANGOSTA LARGA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Media-Corta.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA MEDIA CORTA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Media-Media.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA MEDIA MEDIA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Media-Larga.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA MEDIA LARGA</p>
      </div>
    </div>
    <div class="row text-center mt45">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Grande-Corta.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA GRANDE CORTA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Grande-Media.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA GRANDE MEDIA</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn-zoom">
          <img src="images/sS/Saco_Solapa_Herradura_Grande-Larga.svg" class="img-responsive imgPrenda" alt="">
        </button>
        <p class="mt45">HERRADURA GRANDE LARGA</p>
      </div>
    </div>
    <div class="row text-center mt100">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Angosta-Corta.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO ANGOSTA CORTA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Angosta-Media.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO ANGOSTA MEDIA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Angosta-Larga.svg
                
                " class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO ANGOSTA LARGA</p>
            </div>
          </div>
          <div class="row text-center mt45">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Media-Corta.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO MEDIA CORTA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom zoom">
                <img src="images/sS/Saco_Solapa_Pico_Media-Media.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO MEDIA MEDIA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom zoom">
                <img src="images/sS/Saco_Solapa_Pico_Media-Media.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO MEDIA LARGA</p>
            </div>
          </div>
          <div class="row text-center mt45">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Grande-Corta.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO GRANDE CORTA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Grande-Media.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO GRANDE MEDIA</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <button class="btn-zoom">
                <img src="images/sS/Saco_Solapa_Pico_Grande-Larga.svg" class="img-responsive imgPrenda" alt="">
              </button>
              <p class="mt45">PICO GRANDE LARGA</p>
            </div>
          </div>
          <div class="row text-center mt100">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Angosta-Corta.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA ANGOSTA CORTA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Angosta-Media.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA ANGOSTA MEDIA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Angosta-Larga.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA ANGOSTA LARGA</p>
                </div>
              </div>
              <div class="row text-center mt45">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Media-Corta.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA MEDIA CORTA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Media-Media.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA MEDIA MEDIA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Media-Larga.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA MEDIA LARGA</p>
                </div>
              </div>
              <div class="row text-center mt45">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Grande-Corta.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA GRANDE CORTA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Grande-Media.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA GRANDE MEDIA</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <button class="btn-zoom">
                    <img src="images/sS/Saco_Solapa_Escuadra_Grande-Larga.svg" class="img-responsive imgPrenda" alt="">
                  </button>
                  <p class="mt45">ESCUADRA GRANDE LARGA</p>
                </div>
              </div>
  </section>