<section><br>
  <h1 class="textUno text-center">Tela</h1>
  <h5 class="textDos text-center">ELIGE LA TELA GENERAL PARA TU SACO</h5>
  <p class="text-center">Si no encuentras la tela ingresa el código</p>
  <div class="form-group center-block" style="width: 20%">
    <label for=""></label>
    <input type="" class="form-control" id="" placeholder="CÓDIGO">
  </div>
  <p class="text-center">Puedes usar los campos para filtrar por fabricante, color y/o patrón:</p>
  <div class="row text-center">
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier fabricante</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier color</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select class="browser-default custom-select">
        <option selected>Cualquier patrón</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row text-center mt45">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/cT/1.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">ALBATROS CC / OPULENT</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">BAMBOO CC / BAMBOO</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">BOSSARTI / BO</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CAMPORE / LI-ALG 675</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / KINAIOIR</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / IPARTY</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / OXYGEN</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / NOBILITY</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / PRESTIGE</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / IPARTY JACQUARD</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">CERRUTI / ITRAVEL</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DORMEUIL/ICONIK</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DORMEUIL / DORSILK</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/VANTAGE</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/160´S LUXURY</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/WALLACE</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/RUGBY FLANNEL</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/VANTAGE</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/BLUEFEE</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/TESSUTO 120L</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">DRAGO/SOLANUS</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /SUPER 160´S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /SUMMER 360</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /WINTER 360</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /SWEET WINTER</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /CEREMONIA</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">FRATELLI TALLIA /TORINO</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">GUABELO /130</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">GUABELO /150</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <button class="btn-zoom1">
        <img src="images/sT/223-057-31.png" class="imgPrenda1" alt="">
      </button>
      <p class="mt45">GUABELO /180</p>
    </div>
  </div>
</section>